<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LookChina | Linktree</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <img src="/logo.jpg" alt="LookChina Logo" class="logo">
        <h1>LookChina</h1>
        <p>Conectando você ao melhor da China para o Brasil. Importação, consultoria e soluções logísticas.</p>
        <div class="links">    
            <a class="link" href="#" target="_blank"> LOJA 2 - ACESSORIOS</a>
            <a class="link" href="#"> LOJA 3 - ELETRONICOS</a>
            <a class="link" href="#" target="_blank"> LOJA 4 - PERFUMES</a>
            <a class="link" href="#" target="_blank"> LOJA - 5 ROUPAS</a>
        </div>
        <div class="socials">
            <a href="https://instagram.com/lookchina" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com/lookchina" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://wa.me/5511999999999" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</body>
</html>
